/*******ROOT*******/
:root {
  --dark1: #131316ff;
  --dark2: #1c1c21ff;
  --dark3: #26262cff;
  --dark4: #2f3037ff;
  --light1: #393a41ff;
  --light2: #4b4c52ff;
  --light3: #5b5c62ff;
  --light4: #6a6b70ff;
  --light5: rgb(180, 180, 184);
}

/******* GENERAL STYLES *******/

/* || HTML ELEMENTS  */
* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--dark3);
  min-height: 100vh;
  font-family: "Tektur", cursive;
  font-size: 16px;
}

header {
  border-bottom: 1px var(--dark1);
}

footer {
  display: flex;
  align-items: center;
}

.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* || TABLES  */

#myTable {
  font-size: 0.9em;
}

.table-post,
td {
  text-align: left;
}

.table-post-h {
  width: 170px;
}

.table-alloc {
  max-width: 60px;
}

table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 10px;
}

th {
  border: 1px solid black;
  text-align: center;
  padding: 3px;
}

td {
  border: 1px solid black;
  text-align: center;
  padding: 3px;
  width: 100%;
}

progress {
  width: 100%;
  height: 20px;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background-color: #4caf50;
  border-radius: 10px;
}

/* || INPUT  */

form {
  display: flex;
  flex-direction: column;
  width: 180px;
  align-items: flex-start;
}

/* || Typography  */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

h2 {
  width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

span {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  justify-content: center;
}

button, .button, input[type="button"], input[type="submit"] {
    font-family: "Tektur", cursive;
  }

/******** LANDING PAGE *********/

.landing-background {
  background-color: black;
  display: block;
}

.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.landing img {
  width: auto;
  height: auto;
}

.landing form {
  position: absolute;
  top: 25%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  display: flex;
  gap: 5px;
}

#LogOn {
  display: flex;
  justify-content: center;
}

/******* BODY *******/
/* || Layout.HTML GRID SETUP */
#layout {
  display: grid;
  grid-template-columns: 37vw 37vw 26vw;
  grid-template-rows: 5vh 90vh 5vh;
  grid-template-areas:
    "header header header"
    "main main sidebar"
    "footer footer footer";
}

.flashes {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  padding: 10px;
  display: none; /* Hidden by default */
  z-index: 1000; /* Display on top */
}
/* General styling for all flash messages */
.flash {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}
  
  /* Specific styling for success messages */
.flash.success {
    background-color: #dff0d8;
    color: #3c763d;
    border-color: #d6e9c6;
}

.flash.error {
    background-color: rgb(235, 90, 90);
    color: rgb(0, 0, 0);
    border-color: rgb(240, 215, 215);
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  background: var(--dark1);
  color: var(--light3);
}

.main {
  grid-area: main;
  display: flex;
  align-items: center;
  background: var(--dark4);
  height: 100%;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background: var(--dark4);
  width: 100%;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  background: var(--dark1);
}

/******* HEADER *******/

.header,
.nav,
.nav2,
.nav3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  gap: 15px;
  font-size: 16px;
}

.nav {
  font-size: 1.4em;
}

.nav2 {
  font-size: 2.1em;
  color: white;
}



.nav3 {
  font-size: 1em;
  margin-right: 10px;
}

#helpNav {
    font-size: inherit;
}

/* Style the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style the dropdown button */
.dropbtn {
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Change the background color of the button on hover */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 0.8em;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/******* MAIN *******/

.container-index {
  display: flex;
  flex-direction: column;
  width: auto;
}

.container-main {
  display: flex;
  box-shadow: -4px 7px 7px 7px rgba(0, 0, 0, 0.6);
  flex: 1;
  background-color: var(--dark2);
  margin: 15px;
  padding: 15px;
  gap: 1%;
}

.container-half {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  align-items: stretch;
}

.table-half {
  flex: 0.7;
  display: flex;
  min-width: 460px;
}

.container-group {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  min-width: fit-content;
  height: auto;
  gap: 5%;
  align-content: center;
  align-items: flex-start;
}

.table-group {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  gap: 5%;
  font-size: 0.8em;
  align-content: center;
  align-items: center;
}

.container-table {
  display: flex;
  flex-flow: column wrap;
  box-shadow: -4px 7px 7px 7px rgba(0, 0, 0, 0.6);
  background-color: var(--dark2);
  flex: 1;
  margin: 15px;
  padding: 15px;
  align-content: space-around;
}

.main,
.container-index {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;
}

.mains,
.containerss {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.container {
  background: var(--dark3);
  box-shadow: -4px 7px 7px 7px rgba(0, 0, 0, 0.6);
  padding-inline: 15px;
  width: 45%;
  height: 48%;
  display: flex;
  justify-content: flex-start;
}

.container h4 {
  font-size: 1.5em;
}

.container,
.item {
  flex-flow: column wrap;
}

.item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 10px;
}

.container-header {
  display: flex;
  justify-content: center;
  max-height: 35px;
  align-items: center;
}

.container-header h4 {
    font-size: 1.5em;
  }

.items-index {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  align-items: flex-start;
  flex: auto;
}

/* || ACCOUNT.HTML SPECIFIC */

.container-account {
  background: var(--dark2);
  box-shadow: -4px 7px 7px 7px rgba(0, 0, 0, 0.6);
  padding: 15px;
  width: 45%;
  min-width: min-content;
  min-height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5%;
}

.container-account h4 {
  font-size: 2em;
}

.subcontainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  gap: 10%;
}

.container-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}

/******TESTING******/
#editAll {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#editAll .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-table {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  height: 40px;
  gap: 5px;
}

.flex-post {
  flex: 1.3;
  display: flex;
  align-items: flex-start;
  border-right: 1px solid black;
  padding-inline: 8px;
}

.flex-post-h {
  flex: 1.3;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  border-right: 1px solid black;
  padding-inline: 8px;
}

.flex-goal {
  flex: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 8px;
  border-right: 1px solid black;
}

.flex-goal-h {
  flex: 0.8;
  display: flex;
  align-items: center;
  padding-inline: 8px;
  justify-content: space-around;
  border-right: 1px solid black;
}

.flex-saved {
  flex: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 8px;
  border-right: 1px solid black;
}

.flex-saved-h {
  flex: 0.8;
  display: flex;
  align-items: center;
  padding-inline: 8px;
  justify-content: space-around;
  border-right: 1px solid black;
}

.flex-progress {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 8px;
  border-right: 1px solid black;
}

.flex-progress-h {
  flex: 1;
  display: flex;
  align-items: center;
  padding-inline: 8px;
  justify-content: space-around;
  border-right: 1px solid black;
}

.flex-salloc {
  flex: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 8px;
  border-right: 1px solid black;
}

.salloc-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex: 0.7;
}

.flex-salloc-input {
    border: none;
    background: none;
    text-align: left;
    font-size: inherit;
}

input[type="number"].flex-salloc-input {
    width: 50px;
}

.flex-salloc-h {
  flex: 0.7;
  display: flex;
  align-items: center;
  padding-inline: 8px;
  justify-content: space-around;
  border-right: 1px solid black;
}

.sort-arrow {
  font-size: 12px;
  margin-left: 5px;
}

/******* SIDEBAR *******/
.sidebar.container {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: auto;
  padding-inline: 10px;
}

.side-container {
  flex: 1;
  background: var(--dark2);
  box-shadow: -4px 7px 7px 7px rgba(0, 0, 0, 0.6);
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  font-size: 0.8em;
}

.alerts-container {
  flex: 1;
  background: var(--dark2);
  box-shadow: -4px 7px 7px 7px rgba(0, 0, 0, 0.6);
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  font-size: 0.8em;
}

.alert {
  padding: 10px;
  margin: 5px 0;
  background-color: #f9f9f9;
  border: 1px solid red;
  border-radius: 5px;
}

/******* FOOTER *******/

.foot-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
}

/******* MODAL *******/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0 0 0 / 91%); /* Black w/ opacity */
}

/* Modal Content */
.modal-cookies {
  background-color: #fefefe;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  max-height: 800px;
  max-width: 500px;
}

.modal-warning {
  background-color: #fefefe;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  max-height: 800px;
  max-width: 500px;
  z-index: 2;
}

#warningModal.modal {
    z-index: 2;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: auto;
}

#privacyModal .modal-content {
    margin-top: 0;
}

#privacyModal p, ul, h2 {
    margin-bottom: 15px;
}

#privacyModal h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#setupGuideModal .modal-content {
    margin-top: 0;
}

#setupGuideModal p, ul, h2 {
    margin-bottom: 15px;
}

#setupGuideModal h3, h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#setupGuideModal .modal-content ul, ol {
    padding-left: 20px; /* Adjust as needed */
}
  
#setupGuideModal .modal-content li {
    margin: 0; /* Remove any default margin */
    padding: 5px 0; /* Add padding as needed */
}


.settings-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: auto;
}
.settings-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.settings-item {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  align-content: center;
  width: 50%;
}

.checkbox-container {
  display: flex;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textbox {
  display: flex;
}

#customSetupForm {
  display: flex;
  flex-flow: column wrap;
  width: auto;
}

#suggestionsContainer {
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
}

#suggestionsList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#contactContainer {
  display: flex;
  justify-content: center;
  width: 50%;
}

#contactForm {
  display: flex;
  width: 90%;
}

#contactForm h2 {
  width: 100%;
  align-items: flex-end;
}

#contactForm input,
textarea {
  width: 100%;
}

.in-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.info-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.info-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-modal-close {
  cursor: pointer;
  float: right;
}

.tooltip {
  position: absolute;
  background-color: var(--light2);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 0.9em;
  display: none; /* Initially hidden */
  z-index: 1000; /* Ensure it appears above other elements */
  left: -200px;
  top: -10px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  width: fit-content;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ICONS & BUTTONS */

.info-container {
  display: flex;
  align-items: center;
}

.info-button {
  color: white;
  cursor: pointer;
  width: 160px; /* Adjust as needed */
}

.info-icon {
  margin-left: 5px;
  font-size: 1.1em;
  color: var(--light5);
  cursor: pointer;
}

.info-icon:hover {
  color: white; /* Darker blue on hover */
}

input[type="submit"] {
  padding: 5px 15px;
  background: var(--dark1);
  border: 1px solid white;
}

input[type="text"] {
  width: 160px;
  box-sizing: border-box;
}

input[type="button"] {
  padding: 5px 15px;
  background: var(--dark1);
  border: 1px solid white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  width: 160px;
  box-sizing: border-box;
}

select {
  width: 160px;
}

button {
  padding: 5px 15px;
  background: var(--dark1);
  border: 1px solid white;
}

/* Targeting all buttons and submit inputs */
button, input[type="button"], input[type="submit"] {
    transition: all 0.3s ease; /* Smooth transition for all effects */
    /* Add other default styles here, like background-color, color, etc. */
}
  
  /* Hover effect: changing background color and enlarging text */
button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background-color: #3e8e41; /* Change to your preferred color */
    color: #ffffff; /* Change to your preferred color */
    font-size: 105%; /* Enlarges the text by 5% */
}
  
  /* Active (click) effect: changing background color */
button:active, input[type="button"]:active, input[type="submit"]:active {
    background-color: #2d6a31; /* Slightly darker shade */
}
  
#contactLink, #privacyLink {
    cursor: pointer; /* Change the cursor to a hand pointer */
    transition: all 0.3s; /* Smooth transition for all changes */
}

#contactLink:hover, #privacyLink:hover {
    color: #007BFF; /* Change the text color to a shade of blue on hover */
    text-decoration: underline; /* Add an underline on hover */
    font-size: 105%; /* Increase the font size slightly on hover */
}

@media screen and (max-width: 810px) {
    body {
        font-size: 12px;
    }

    .container-half {
        flex-direction: column;
    }

    .table-half {
        min-width: 380px;
    }
}

@media (max-width: 1360px) {
    .container-half {
        flex-direction: column;
    }
}

@media (max-width: 960px) {
    .container-main {
        flex-direction: column;
    }

    .container-half {
        flex-direction: row;
    }

    h4 {
        font-size: 16px;
    }

}