{% extends "layout.html" %}

{% block title %}
Account
{% endblock %}

{% block main %}
    <div class="container-account">
        <div class="subcontainer">
            <div class="container-header">
                <h4>Account Settings</h4><br>
            </div>
            <div class="container-items">
                <div class="item">
                    <p>Current Savings: <br>{{ balance }} kr</p><br>
                    <p>Total Goal: <br>{{ total_goal }} kr</p><br><br>
                    <span>
                        <p>Change Password</p>
                        <p>Delete User</p>
                    </span>
                </div>
                <div class="item">
                    <form id="commitSavingsForm" action="/commit_savings" method="post">
                        <label> Commit Changes</label>
                        <input id="commitSavingsButton" type="submit" value="Calculate">
                    </form>
                    <form id="resetPostsForm" action="/reset_posts" method="post">
                        <label>Reset Posts</label>
                        <input id="resetPostsButton"  type="submit" value="Reset">
                    </form>
                    <form id="resetAccountForm" action="/reset" method="post">
                        <label>Reset Account</label>
                        <input id="resetAccountButton"  type="submit" value="Reset">
                    </form>
                </div>
            </div>
        </div>
        <br><br>
        <div class="subcontainer">
            <div class="container-header">
                <h4>Setup Posts</h4><br>
            </div>
            <div class="container-items">
                <div class="item">
                    <span>You have {{ remain_alloc }}% remaning for allocation</span>
                </div>
                <div class="item">
                    <form action="/add_post" method="post">
                        <label for="post">Add Post:</label>
                        <input type="text" id="post" name="post" placeholder="Post name" required autofocus>
                        <input type="number" id="allocation" name="allocation" placeholder="Enter % Allocation" required>
                        <input type="number" id="goal" name="goal" placeholder="Add Goal Amount" required>
                        <input type="submit" value="Add">
                    </form>
                    <form action="/edit_post" method="post">
                        <label for="post">Edit Post:</label>
                        <select id="post" name="post" required>
                            <option value="" disabled selected>Select Post</option>
                            {% for post in posts %}
                            <option value="{{ post[0] }}">{{ post[0] }}</option>
                            {% endfor %}
                        </select>
                        <input type="number" id="allocation" name="allocation" placeholder="Enter % Allocation" required>
                        <input type="number" id="goal" name="goal" placeholder="Add Goal Amount" required>
                        <input type="submit" value="Edit">
                    </form>
                </div>
                <div class="item">
                    <form id="removePostForm" action="/remove_post" method="post">
                        <label for="post">Remove Post:</label>
                        <select id="post" name="post" required>
                            <option value="" disabled selected>Select Post</option>
                            {% for post in posts %}
                            <option value="{{ post[0] }}">{{ post[0] }}</option>
                            {% endfor %}
                        </select>
                        <input type="button" id="removePostButton" value="Remove">
                    </form>
                    <form action="/set_savings" method="post">
                        <label for="savings">Set Total Savings:</label>
                        <input type="number" id="savings" name="savings" placeholder="Enter total savings" required>
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="item">
                    <form id="generateTemplate" action="/generate_template" method="post">
                        <label for="generate">Generate Template</label>
                        <input type="submit" value="Generate Example">
                    </form>
                    <form>
                        <label for="custom">Customize By List</label>
                        <input id="setupButton" type="submit" value="Custom Post Setup">
                    </form>
                </div>
            </div>
        </div>
        <div id="customSetupModal" class="modal">
            <div class="modal-content">
                <form id="customSetupForm" action="/custom_setup" method="post">                  
                    <h2>Custom Setup<span class="close">&times;</span></h2>
                    <input type="hidden" id="initialRemainingAllocation" value="{{ remain_alloc }}">
                    <span id="remainingPercentage">Remaining Percentage: 100%</span>
                    <table id="customSetupTable">
                        <thead>
                        <tr>
                            <th>Post Name</th>
                            <th>Goal</th>
                            <th>% Allocation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" name="postName[]" placeholder="Name"></td>
                            <td><input type="number" name="postGoal[]" placeholder="Goal"></td>
                            <td><input type="number" name="postAllocation[]" placeholder="% Allocation"></td>
                        </tr>
                        </tbody>
                        </table>
                        <div class="in-line">
                            <button id="addRowButton" type="button">Add Row</button>
                            <button id="submitCustomSetup" type="submit">Submit</button>
                            <button id="showSuggestionsButton" type="button">Post Suggestions</button>
                        </div>
                        <div id="suggestionsContainer" style="display: none;">
                            <ul id="suggestionsList">
                        <!-- Suggestions will be populated here -->
                            </ul>
                        </div>
                </div>
            </form>
        </div>
    </div>   
    </div>
    </div>
    <div class="container-account">
        <div class="container-header">
            <h4>Post Overview</h4><br>
        </div>
            <div class="div-table">
                <form id="editAll" action="/edit_all" method="post">
                    <div class="flex-row">
                        <div class="flex-post-h">Post</div>
                        <div class="flex-goal-h">Goal</div>
                        <div class="flex-alloc-h">Allocation</div>
                    </div>
                    {% for post in posts %}
                    <div class="flex-row">
                        <div class="flex-post">
                            {{ post[0] }}
                        </div>
                        <div class="flex-goal">
                            <span>{{ "{:,.0f} kr".format(post[3]) }}</span>
                            <input type="number" name="new_goal_{{ post[0] }}" placeholder="Edit Goal">
                        </div>
                        <div class="flex-alloc">
                            <span>{{ "{:0%}".format(post[1] / 100) }}</span>
                            <input type="number" name="new_alloc_{{ post[0] }}" placeholder="Edit %">
                        </div>
                    </div>
                    {% endfor %}
                    <input type="submit" value="Update All">
                </form>
            </div>
        </div>
{% endblock %}
{% block graph %}
<div class="sidebar container"> 
    <div class="container-header">
        <h4>Transaction History</h4><br>
    </div>
        <div class="side-container">
            <div class="item">
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Post</th>
                        <th>Notes</th>
                    </tr>
                    {% for hist in history %}
                    <tr>
                        <td>{{ hist[0] }}</td>
                        <td>{{ hist[2] }}</td>
                        <td>{{ "{:,.0f} kr".format(hist[3]) }}</td>
                        <td>{{ hist[1] }}</td>
                        <td>{{ hist[4] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div> 
        
</div>
{% endblock %}