<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Tektur&display=swap" rel="stylesheet">
    <title>Error</title>
    <!-- Include any CSS or other head content here -->
</head>
<body>
<main>
    <div class="error-page">
        <h1>Error</h1>
        <p>{{ error_code }} : {{ error_message }}</p>
    </div>
</main>
    <!-- Include navigation or other footer content here -->
</body>
</html>