{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<div class="container-index">
    <div class="container-main">
        <div class="container-group">
            <label for="container-group"><h3>Deposit:</h3></label>
            <div class="item">
                <form action="/deposit" method="post">
                    <label for="deposit">General Deposit:</label>
                    <input type="number" id="deposit" name="deposit" placeholder="Enter amount" required>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="item">
                <form action="/specific_deposit" method="post">
                    <label for="deposit">Specific Deposit:</label>
                    <select id="post" name="post" required>
                        <option value="" disabled selected>Select Post</option>
                        {% for post in posts %}
                        <option value="{{ post[0] }}">{{ post[0] }}</option>
                        {% endfor %}
                    </select>
                    <input type="number" id="deposit" name="deposit" placeholder="Enter amount" required>
                    <input type="submit" value="Submit">
                </form>
            </div> 
        </div>
        <div class="container-group">
            <label for="container-group"><h3>Withdrawal:</h3></label>
            <div class="item">
                <form action="/withdrawal" method="post">
                    <label for="withdrawal">Withdrawal:</label>
                    <select id="post" name="post" required>
                        <option value="" disabled selected>From post</option>
                        {% for post in posts %}
                        <option value="{{ post[0] }}">{{ post[0] }}</option>
                        {% endfor %}
                    </select>
                    <input type="number" id="withdrawal" name="withdrawal" placeholder="Enter amount" required>
                    <input type="text" id="notes" name="notes" placeholder="Notes" required>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        <div class="container-group">
            <label for="container-group"><h3>Manage Funds:</h3></label>
            <div class="item">
                <form action="/move" method="post">
                    <label for="move">Move Funds:</label>
                    <select id="from" name="from" required>
                        <option value="" disabled selected>From post</option>
                        {% for post in posts %}
                        <option value="{{ post[0] }}">{{ post[0] }}</option>
                        {% endfor %}
                    </select>
                    <select id="to" name="to" required>
                        <option value="" disabled selected>To post</option>
                        {% for post in posts %}
                        <option value="{{ post[0] }}">{{ post[0] }}</option>
                        {% endfor %}
                    </select>
                    <input type="number" id="amount" name="amount" placeholder="Enter amount" required>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="item">
                <form action="/transfer" method="post">
                    <label for="move">Transfer & Delete</label>
                    <select id="from" name="from" required>
                        <option value="" disabled selected>From post</option>
                        {% for post in posts %}
                        <option value="{{ post[0] }}">{{ post[0] }}</option>
                        {% endfor %}
                    </select>
                    <select id="type" name="type" required>
                        <option value="" disabled selected required>Type</option>
                        <option value="general">General</option>
                        <option value="specific">Specific</option>
                    </select>
                    <select id="to" name="to">
                        <option value="" disabled selected>To post</option>
                        {% for post in posts %}
                        <option value="{{ post[0] }}">{{ post[0] }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
    <div class="container-table">
        <div class="container-header">
            <h4>Post Overview</h4><br>
        </div>
            <div class="div-table">
                <div class="flex-row">
                    <div class="flex-post-h sortable">Post Name</div>
                    <div class="flex-saved-h sortable">Saved</div>
                    <div class="flex-goal-h sortable">Goal</div>
                    <div class="flex-progress-h sortable">Progress</div>
                    <div class="flex-salloc-h sortable">Salloc (<span id="remainingAllocationCounter">{{ remain_alloc }}</span>% Left)</div>
                    <input type="hidden" id="hiddenRemainAlloc" value="{{ remain_alloc }}">
                </div>
                {% for post in posts %}
                <div class="flex-row">
                    <div class="flex-post" contenteditable="true" data-old-name="{{ post[0] }}" data-field="post_name">
                        {{ post[0] }}
                    </div>
                    <div class="flex-saved">{{ "{:,.0f} kr".format(post[2]) }}</div>
                    <div class="flex-goal" contenteditable="true" data-field="goal">
                        <span>{{ "{:,.0f} kr".format(post[3]) }}</span>
                    </div>
                    <div class="flex-progress">
                        <progress value="{{ post[2] }}" max="{{ post[3] }}"></progress>
                    </div>
                    <div class="flex-salloc" contenteditable="true" data-field="salloc">
                        <span>{{ post[1]|int }}</span>
                    </div>
                    <div>%</div>
                </div>
                {% endfor %}   
            </div>
            <button id="updateButton">Update Changes</button>
    </div>
</div>
{% endblock %}
{% block  sidebar %}
<div class="sidebar container"> 
    <div class="container-header">
        <h4>Account</h4><br>
    </div>
    <div class="side-container">
        <div class="item">
            <p>Current Savings: <br>{{ balance }} kr</p><br>
            <p>Total Goal: <br>{{ total_goal }} kr</p><br><br>
            <span>
                <button id="profileSettingsButton">Profile Settings</button>
            </span>
        </div>
        <div class="item">
            <span>Funds not yet allocated: <br>{{ remainder }} kr</span>
            <form action="/undefined" method="post">
                <label for="undefined">Allocate now?</label>
                <select id="post" name="post" required>
                    <option value="" disabled selected>Select Post</option>
                    <option value="general">All by %</option>
                    {% for post in posts %}
                    <option value="{{ post[0] }}">{{ post[0] }}</option>
                    {% endfor %}   
                </select>
                <input type="hidden" id="remainder" name="remainder" value="{{ remainder }}">
                <input type="submit" value="Allocate">
            </form>
        </div>
        <div class="item">
            <form id="resetAccountForm" action="/reset" method="post">
                <label>Reset Account</label>
                <input id="resetAccountButton"  type="submit" value="Reset">
            </form>
        </div>
        <div class="item">
            <form id="resetPostsForm" action="/reset_posts" method="post">
                <label>Reset Posts</label>
                <input id="resetPostsButton"  type="submit" value="Reset">
            </form>
        </div>
    </div> 
    <div class="container-header">
        <h4>Setup / Controls</h4><br>
    </div>
    <div class="side-container">
        <div class="item">
            <form action="/set_savings" method="post">
                <label for="savings">Set Total Savings:</label>
                <input type="number" id="savings" name="savings" placeholder="Enter total savings" required>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="item">
            <form id="removePostForm" action="/remove_post" method="post">
                <label for="post">Remove Post:</label>
                <select id="post" name="post" required>
                    <option value="" disabled selected>Select Post</option>
                    {% for post in posts %}
                    <option value="{{ post[0] }}">{{ post[0] }}</option>
                    {% endfor %}
                </select>
                <input type="button" id="removePostButton" value="Remove">
            </form>
        </div>
        <div class="item">
            <form>
                <label for="custom">Add Posts</label>
                <input id="setupButton" type="submit" value="Custom Post Setup">
            </form>
            <form id="generateTemplate" action="/generate_template" method="post">
                <label for="generate">Generate Template</label>
                <input type="submit" value="Generate Example">
            </form>
        </div>
        <div class="item">
            <form id="commitSavingsForm" action="/commit_savings" method="post">
                <label> Commit Changes</label>
                <input id="commitSavingsButton" type="submit" value="Calculate">
            </form>
        </div>
    </div> 
    <div class="container-header">
        <h4>Alerts</h4><br>
    </div>
    <div class="side-container">
        <div class="item">
        </div>
    </div> 
</div>
{% endblock %}

