{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div class="container-index">
    <div class="container-main">
        <div class="table-half">
            <div class="table-group" data-intro="Any recent deposits, moves, or withdrawals will show up here!" data-step="9">
                <div class="container-header">
                    <h4>Transaction History</h4><br>
                </div>
                    <div class="item">
                        <table>
                            <tr>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Post</th>
                                <th>Notes</th>
                            </tr>
                            {% for hist in history %}
                            <tr>
                                <td>{{ hist[0] }}</td>
                                <td>{{ hist[2] }}</td>
                                <td>{{ hist[3] | currency(currency) }}</td>
                                <td>{{ hist[1] }}</td>
                                <td>{{ hist[4] }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
    <div class="container-half" data-intro="Here are your day-to-day controls for depositing money, 
    withdrawing funds, or moving them around" data-step="8">
        <div class="container-group">
            <label for="container-group"><h3>Deposit:</h3></label>
            <div class="item">
                <form action="{{ url_for('salloc.deposit') }}" method="post">
                    <label for="deposit">General Deposit:</label>
                    <input type="number" id="deposit" name="deposit" placeholder="Enter amount" required>
                    <div class="info-container">
                        <input type="hidden" id="remainder" name="remainder" value="{{ remainder }}">
                        <input class="info-button" type="submit" id="depositButton" value="Submit">
                        <span class="info-icon" onclick="showInfo(event);">
                            <i class="fa-solid fa-info-circle"></i>
                        <span>
                    </div>
                </form>
            </div>
            <div class="item">
                <form action="{{ url_for('salloc.specific_deposit') }}" method="post">
                    <label for="deposit">Specific Deposit:</label>
                    <select id="post" name="post" required>
                        <option value="" disabled selected>Select Post</option>
                        {% for post in posts %}
                        <option value="{{ post[0] }}">{{ post[0] }}</option>
                        {% endfor %}
                    </select>
                    <input type="number" id="deposit" name="deposit" placeholder="Enter amount" required>
                    <div class="info-container">
                        <input type="hidden" id="remainder" name="remainder" value="{{ remainder }}">
                        <input class="info-button" type="submit" id="specificDepositButton" value="Submit">
                        <span class="info-icon" onclick="showInfo(event);">
                            <i class="fa-solid fa-info-circle"></i>
                        <span>
                    </div>
                </form>
            </div> 
        </div>
        <div class="container-group">
            <label for="container-group">
                <h3>Withdrawal:</h3></label>
            <div class="item">
                <form action="{{ url_for('salloc.withdrawal') }}" method="post">
                    <label for="withdrawal">Withdrawal:</label>
                    <select id="post" name="post" required>
                        <option value="" disabled selected>From post</option>
                        {% for post in posts %}
                        <option value="{{ post[0] }}">{{ post[0] }}</option>
                        {% endfor %}
                    </select>
                    <input type="number" id="withdrawal" name="withdrawal" placeholder="Enter amount" required>
                    <input type="text" id="notes" name="notes" placeholder="Notes" required>
                    <div class="info-container">
                        <input type="hidden" id="remainder" name="remainder" value="{{ remainder }}">
                        <input class="info-button" type="submit" id="withdrawButton" value="Submit">
                        <span class="info-icon" onclick="showInfo(event);">
                            <i class="fa-solid fa-info-circle"></i>
                        <span>
                    </div>
                </form>
            </div>
        </div>
        <div class="container-group">
            <label for="container-group"><h3>Manage Funds:</h3></label>
            <div class="item">
                <form action="{{ url_for('salloc.move') }}" method="post">
                    <label for="move">Move Funds:</label>
                    <select id="from" name="from" required>
                        <option value="" disabled selected>From post</option>
                        {% for post in posts %}
                        <option value="{{ post[0] }}">{{ post[0] }}</option>
                        {% endfor %}
                    </select>
                    <select id="to" name="to" required>
                        <option value="" disabled selected>To post</option>
                        {% for post in posts %}
                        <option value="{{ post[0] }}">{{ post[0] }}</option>
                        {% endfor %}
                    </select>
                    <input type="number" id="amount" name="amount" placeholder="Enter amount" required>
                    <div class="info-container">
                        <input type="hidden" id="remainder" name="remainder" value="{{ remainder }}">
                        <input class="info-button" type="submit" id="moveFundsButton" value="Submit">
                        <span class="info-icon" onclick="showInfo(event);">
                            <i class="fa-solid fa-info-circle"></i>
                        <span>
                    </div>
                </form>
            </div>
            <div class="item">
                <form action="{{ url_for('salloc.transfer') }}" method="post">
                    <label for="move">Transfer & Delete</label>
                    <select id="from" name="from" required>
                        <option value="" disabled selected>From post</option>
                        {% for post in posts %}
                        <option value="{{ post[0] }}">{{ post[0] }}</option>
                        {% endfor %}
                    </select>
                    <select id="type" name="type" required>
                        <option value="" disabled selected required>Type</option>
                        <option value="general">General</option>
                        <option value="specific">Specific</option>
                    </select>
                    <select id="to" name="to">
                        <option value="" disabled selected>To post</option>
                        {% for post in posts %}
                        <option value="{{ post[0] }}">{{ post[0] }}</option>
                        {% endfor %}
                    </select>
                    <div class="info-container">
                        <input type="hidden" id="remainder" name="remainder" value="{{ remainder }}">
                        <input class="info-button" type="submit" id="transferFundsButton" value="Submit">
                        <span class="info-icon" onclick="showInfo(event);">
                            <i class="fa-solid fa-info-circle"></i>
                        <span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <div class="container-table" data-intro="This is where you can check out your savings and edit post name, goal, or %Salloc once its set up." data-step="7">
        <div class="container-header">
            <h4>Post Overview - Click fields to edit</h4><br>
        </div>
            <div class="div-table">
                <div class="flex-row">
                    <div class="flex-post-h sortable">Post Name</div>
                    <div class="flex-saved-h sortable">Saved</div>
                    <div class="flex-goal-h sortable">Goal</div>
                    <div class="flex-progress-h sortable">Progress</div>
                    <div class="flex-salloc-h sortable">Salloc (<span id="remainingAllocationCounter">{{ remain_alloc }}</span>% Left)</div>
                    <input type="hidden" id="hiddenRemainAlloc" value="{{ remain_alloc }}">
                </div>
                {% for post in posts %}
                <div class="flex-row">
                    <div class="flex-post" contenteditable="true" data-old-name="{{ post[0] }}" data-field="post_name">
                        {{ post[0] }}
                    </div>
                    <div class="flex-saved">{{ post[2] | currency(currency) }}</div>
                    <div class="flex-goal" contenteditable="true" data-field="goal">
                        <span>{{ post[3] | currency(currency) }}</span>
                    </div>
                    <div class="flex-progress">
                        <progress value="{{ post[2] }}" max="{{ post[3] }}"></progress>
                    </div>
                    <div class="salloc-container">
                        <input type="number" class="flex-salloc-input" value="{{ post[1]|int }}" min="0" max="100" placeholder="0">
                        <span class="salloc-percent">%</span>
                      </div>
                </div>
                {% endfor %}   
            </div>
            <button id="updateButton">Update Changes</button>
    </div>
</div>
{% endblock %}
{% block  sidebar %}
<div class="sidebar container"> 
    <div class="container-header">
        <h4>Account</h4><br>
    </div>
    <div class="side-container" data-intro="Check your current standing, change profile settings, and reset your accounts parameters at will." data-step="6">
        <div class="item">
            <p>Current Savings: <br>{{ balance | currency(currency) }}</p><br>
            <p>Total Goal: <br>{{ total_goal | currency(currency) }} </p><br><br>
            <span>
                <button id="profileSettingsButton">Profile Settings</button>
            </span>
        </div>
        <div class="item">
            <span>Funds not yet allocated: <br>{{ remainder | currency(currency) }}</span>
            <form action="{{ url_for('salloc.undefined') }}" method="post">
                <label for="undefined">Allocate now?</label>
                <select id="post" name="post" required>
                    <option value="" disabled selected>Select Post</option>
                    <option value="general">All by %</option>
                    {% for post in posts %}
                    <option value="{{ post[0] }}">{{ post[0] }}</option>
                    {% endfor %}   
                </select>
                <div class="info-container">
                    <input type="hidden" id="remainder" name="remainder" value="{{ remainder }}">
                    <input class="info-button" type="submit" id="allocateButton" value="Allocate">
                    <span class="info-icon" onclick="showInfo(event);">
                        <i class="fa-solid fa-info-circle"></i>
                    <span>
                </div>
            </form>
        </div>
        <div class="item">
            <form id="resetAccountForm" action="{{ url_for('salloc.reset') }}" method="post">
                <label>Reset Account</label>
                <input class="info-button" id="resetAccountButton"  type="submit" value="Reset">
            </form>
        </div>
        <div class="item">
            <form id="resetPostsForm" action="{{ url_for('salloc.reset_posts') }}" method="post">
                <label>Reset Posts</label>
                <input class="info-button" id="resetPostsButton"  type="submit" value="Reset">
            </form>
        </div>
        <div class="item">
            <form id="resetSavingsForm" action="{{ url_for('salloc.reset_savings') }}" method="post">
                <label>Reset Savings</label>
                <input class="info-button" id="resetSavingsButton"  type="submit" value="Reset">
            </form>
        </div>
        </div> 
    <div class="container-header">
        <h4>Setup / Controls</h4><br>
    </div>
    <div class="side-container">
        <div class="item" data-intro="This is where you enter your starting balance and get things going!" data-step="1">
            <form id="setSavingsForm" action="{{ url_for('salloc.set_savings') }}" method="post">
                <label for="savings">Set Total Savings:</label>
                <input type="number" id="savings" name="savings" placeholder="Enter total savings" required>
                <div class="info-container">
                    <input class="info-button" id="setSavingsButton" type="submit" value="Submit">
                    <span class="info-icon" onclick="showInfo(event);">
                        <i class="fa-solid fa-info-circle"></i>
                    <span>
                </div>
            </form>
        </div>
        
        <div class="item" data-intro="Use this to add your custom savings posts with goals and % allocation. 
        The % (Salloc) is used to distribute your starting balance, and future deposits" data-step="2">
            <form id="setupCustomTemplate">
                <label for="custom">Add Posts</label>
                <div class="info-container">
                    <input class="info-button" id="setupButton" type="submit" value="Custom Post Setup">
                    <span class="info-icon" onclick="showInfo(event);">
                        <i class="fa-solid fa-info-circle"></i>
                    <span>
                </div>
            </form>
        </div>
        <div class="item">
            <form id="generateTemplate" action="{{ url_for('salloc.generate_template') }}" method="post">
                <label for="generate">Generate Template</label>
                    <div class="info-container">
                        <input class="info-button" id="generateTemplateButton" type="submit" value="Generate Example">
                        <span class="info-icon" onclick="showInfo(event);">
                            <i class="fa-solid fa-info-circle"></i>
                        <span>
                    </div>
            </form>
        </div>
        <div class="item" data-intro="Use this to remove posts completely. 
        If there is money saved on the post you should use the transfer/delete form instead" data-step="3">
            <form id="removePostForm" action="{{ url_for('salloc.remove_post') }}" method="post">
                <label for="post">Remove Post:</label>
                <select id="post" name="post" required>
                    <option value="" disabled selected>Select Post</option>
                    {% for post in posts %}
                    <option value="{{ post[0] }}">{{ post[0] }}</option>
                    {% endfor %}
                </select>
                <div class="info-container">
                    <input class="info-button" type="button" id="removePostButton" value="Remove">
                    <span class="info-icon" onclick="showInfo(event);">
                        <i class="fa-solid fa-info-circle"></i>
                    <span>
                </div>
            </form>
        </div>
        <div class="item" data-intro="Click here to commit your changes and calculate the Salloc spread! 
        Pressing this later will redistribute your currently held balance and override your post savings. " data-step="4">
            <form id="commitSavingsForm" action="{{ url_for('salloc.commit_savings') }}" method="post">
                <label>Commit Changes</label>
                <div class="info-container">
                    <input class="info-button" id="commitSavingsButton" type="submit" value="Calculate">
                    <span class="info-icon" onclick="showInfo(event);">
                        <i class="fa-solid fa-info-circle"></i>
                    <span>
                </div>
            </form>
        </div>
    </div> 
    <div class="container-header" data-intro="Alerts will show up here when your account requires some attention / redistribution etc." data-step="5">
        <h4>Alerts</h4><br>
    </div>
    <div class="alerts-container">

            {% for alert in alerts %}
            <div class="alert">
                {{ alert }}
            </div>
        {% endfor %}

    </div> 
</div>
{% endblock %}

