<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Landing Page {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Tektur&display=swap" rel="stylesheet">
  </head>
  <body class="landing-background">
        <main id="landing">
            <div class="landing">
                <img src="{{ url_for('static', filename='images/landing.png') }}" alt="Landing Page Image">
                {% block form %}
                <form action="/login" method="post" autocomplete="off">
                    <label id="LogOn">Login</label><br>
                    <input type="text" id="username" name="username" placeholder="Enter username" required>
                    <input type="password" id="password" name="password" placeholder="Enter password" required>
                    <input type="submit" value="Login">
                    <input type="button" onclick="window.location.href='/register'" value="Register">
                </form><br>
                {% endblock %}
            </div>
        </main>
    <footer></footer>
    <script src="index.js"></script>
</body>
</html>