<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Salloc Login {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('salloc.static', filename='css/styles.css') }}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Tektur&display=swap" rel="stylesheet">
  </head>
  <body class="landing-background">
        <main id="landing">
            <div class="landing">
                <img src="{{ url_for('salloc.static', filename='images/landing.png') }}" alt="Landing Page Image">
                <div class="salloc-title">
                  <h1>Salloc</h1>
                  <p>Make your savings dreams come true</p>
                </div>
                {% block form %}
                <form action="{{ url_for('salloc.login') }}" method="post" autocomplete="off">
                    <label id="LogOn">Login</label><br>
                    <p>Guest Login Credentials</p>
                    <p>username: guest</p>
                    <p>password: guest</p>
                    <br>
                    <input type="username" id="username" name="username" placeholder="Enter username" required autocomplete="current-username">
                    <input type="password" id="password" name="password" placeholder="Enter password" required autocomplete="current-password">
                    <input type="submit" value="Login">
                    <input type="button" onclick="window.location.href='/salloc/register'" value="Register">
                </form><br>
                {% endblock %}
            </div>
        </main>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <div class="modal-cookies">
                <span class="close">&times;</span>
                    <h4>Want Cookies?</h4><br>
                    <p>
                        This page uses limited cookies for improved user experience.
                    </p>
                    <br>
                    <p>
                        These cookies save your personal preference on pop-ups for either input confirmation 
                        or warning of irreversible actions that could delete or reset your account data.
                        The cookies save NO other data and are ONLY used for improving your user experience.
                    </p>
                    <br>
                    <br>
                    <p>
                        Cookie consent may be managed in your profile settings (pending development)
                    </p>
                    <br>
                    <div class="centered-content">
                        <div id="checkboxContainer"> <!-- Add an id to the container -->
                          <div class="in-line">
                            <input type="checkbox" id="consent" name="consent">
                            <label for="consent">I <b>consent</b> to the use of cookies</label>
                          </div>
                          <br>
                          <div class="in-line">
                            <input type="checkbox" id="noConsent" name="noConsent">
                            <label for="noConsent">I do <b>NOT</b> consent to the use of cookies</label>
                          </div>
                        </div>
                        <br>
                        <br>
                        <h4>Do you wish to complete your registration?</h4>
                        <br>
                        <button id="continueButton">Yes, continue</button>
                        <button id="exitButton">No, Exit</button>
                      </div>
              </div>
            </div>
            <div class="flashes">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
            </div>
        <div id="errorModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p id="errorMessage"></p>
            </div>
        </div>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('salloc.static', filename='js/script.js') }}"></script>
    {% if error %}
        <script>
            showError("{{ error }}");
        </script>
    {% endif %}
</body>
</html>