<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Layout {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Tektur&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/38debcdf82.js" crossorigin="anonymous"></script>
  </head>
  <body id="layout">
    <header class="header">
        <div class="nav">
            <a href="{{ url_for('index') }}"><span>Home</span></a>
            <span>History</span>
            <span>Dashboard</span>
            <span>Help</span>
        </div>
        <div class="nav2"> 
            <span>SALLOC</span>
        </div>
        <div class="nav3">
            <span>Language</span>
            <span>Currency</span>
            <span><a href="/logout">Log Out</a></span>
        </div>
    </header>
    
            <main class="main">
                {% block main %}
                {% endblock %}
            </main>
            {% block sidebar %}
            {% endblock %}
        <div id="warningModal" class="modal">
            <!-- Modal content -->
            <div class="modal-warning">
                <p id="warningMessage"></p>
                <div id="checkboxContainer">
                    <input type="checkbox" id="ignoreThisCheckbox">
                    Ignore this warning
                    <input type="checkbox" id="ignoreAllCheckbox">
                    Ignore all warnings. Living on the edge!
                </div>
                <br>
                <button id="cancelButton">Cancel</button>
                <button id="acceptButton">Accept</button>
            </div>
        </div>
        <div id="customSetupModal" class="modal">
            <div class="modal-content">
                <form id="customSetupForm" action="/custom_setup" method="post">                  
                    <h2>Custom Setup<span class="close">&times;</span></h2>
                    <input type="hidden" id="initialRemainingAllocation" value="{{ remain_alloc }}">
                    <span id="remainingPercentage">Remaining Percentage: 100%</span>
                    <table id="customSetupTable">
                        <thead>
                        <tr>
                            <th>Post Name</th>
                            <th>Goal</th>
                            <th>% Allocation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" name="postName[]" placeholder="Name"></td>
                            <td><input type="number" name="postGoal[]" placeholder="Goal"></td>
                            <td><input type="number" name="postAllocation[]" placeholder="% Allocation"></td>
                        </tr>
                        </tbody>
                        </table>
                        <div class="in-line">
                            <button id="addRowButton" type="button">Add Row</button>
                            <button id="submitCustomSetup" type="submit">Submit</button>
                            <button id="showSuggestionsButton" type="button">Post Suggestions</button>
                        </div>
                        <div id="suggestionsContainer" style="display: none;">
                            <ul id="suggestionsList">
                        <!-- Suggestions will be populated here -->
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="profileSettingsModal" class="modal">
            <div class="modal-content">
                <div>
                    <span class="close">&times;</span>
                    <h2 class="centered-content">Profile Settings</h2>
                    <br>  
                </div>
              <!-- Cookie Preferences Section -->
              <div class="settings-container">
                <div class="settings-item">
                    <h3>Cookie Preferences:</h3>
                    <div id="checkboxProfileContainer">
                        <form id="profileSettingsForm" action="/update_consent" method="post">
                            <div>
                                <input type="checkbox" id="consentCookies" name="consentCookies">
                                <label for="consentCookies">Activate Cookies</label>
                            </div>
                            <div>
                                <input type="checkbox" id="noCookies" name="noCookies">
                                <label for="noCookies">Deactivate Cookies</label>
                            </div>
                            </div>
                            <input type="hidden" id="consentUpdate" name="consentUpdate">
                            <input id="updateConsent" type="submit" value="Submit">
                        </form>
                </div>
              <!-- Delete Account Section -->
              <div class="settings-item">
                <h3>Account Deletion:</h3>
                <form id="deleteAccountForm" action="/delete_account" method="post">
                  <button id="deleteConfirmation" type="button">Delete Account</button>
                </form>
              </div>
              </div>
            </div>
        </div>
        <div id="contactModal" class="modal">
            <div id="contactContainer" class="modal-content">
                <form id="contactForm" action="/contact_me" method="post">
                    <h2>Contact Me<span class="close">&times;</span></h2>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Your Name" required>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Your Email" required>
                    <label for="topic">Subject:</label>
                    <input type="text" id="topic" name="topic">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" placeholder="Your Message" rows="6" required></textarea>
                    <button type="submit">Send Message</button>
                </form>
            </div>
        </div>
    <footer class="footer">
        <div class="foot-nav">
            <span>Salloc</span>
            <span>Copyright © Petter Sand Austnes</span>
            <span id="contactLink">Contact</span>
            <span>Privacy Policy</span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>