<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Layout {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('salloc.static', filename='css/styles.css') }}">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Tektur&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/38debcdf82.js" crossorigin="anonymous"></script>
  </head>
  <body id="layout">
    <header class="header">
        <div class="nav">
            <a href="{{ url_for('salloc.index') }}"><span>Home</span></a>
            <span>History</span>
            <span>Dashboard</span>
            <div class="dropdown">
                <button id="helpNav" class="dropbtn">Help</button>
                <div class="dropdown-content">
                    <a href="#" class="contactLink">Contact</a>
                  <a href="#accessibility">Accessibility</a>
                  <a href="#watch-demo">Watch Demo</a>
                  <a href="#setup-guide" id="setupGuideLink">Read Setup Guide</a>
                  <a href="#readme">Readme</a>
                </div>
              </div>
        </div>
        <div class="nav2"> 
            <span id="sallocName">SALLOC</span>
        </div>
        <div class="nav3">
            <span>Language</span>
            <div class="dropdown">
                <button class="dropbtn">Currency</button>
                <div class="dropdown-content">
                    <a href="#" onclick="setCurrency('EUR')">EUR</a>
                    <a href="#" onclick="setCurrency('USD')">USD</a>
                    <a href="#" onclick="setCurrency('NOK')">NOK</a>
                </div>
            </div>
            <span><a href="{{ url_for('salloc.logout') }}">Log Out</a></span>
        </div>
    </header>
    
            <main class="main">
                {% block main %}
                {% endblock %}
            </main>
            {% block sidebar %}
            {% endblock %}
        <div class="flashes">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div id="errorModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p id="errorMessage"></p>
            </div>
        </div>
        <div id="warningModal" class="modal">
            <!-- Modal content -->
            <div class="modal-warning">
                <p id="warningMessage"></p>
                <div id="checkboxContainer">
                    <input type="checkbox" id="ignoreThisCheckbox">
                    Ignore this warning
                    <input type="checkbox" id="ignoreAllCheckbox">
                    Ignore all warnings. Living on the edge!
                </div>
                <br>
                <button id="cancelButton">Cancel</button>
                <button id="acceptButton">Accept</button>
            </div>
        </div>
        <div id="customSetupModal" class="modal">
            <div class="modal-content">
                <form id="customSetupForm" action="{{ url_for('salloc.custom_setup') }}" method="post">                  
                    <h2>Custom Setup<span class="close">&times;</span></h2>
                    <input type="hidden" id="initialRemainingAllocation" value="{{ remain_alloc }}">
                    <span id="remainingPercentage">Remaining Percentage: 100%</span>
                    <table id="customSetupTable">
                        <thead>
                        <tr>
                            <th>Post Name</th>
                            <th>Goal</th>
                            <th>% Allocation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" name="postName[]" placeholder="Name"></td>
                            <td><input type="number" name="postGoal[]" placeholder="Goal"></td>
                            <td><input type="number" name="postAllocation[]" placeholder="% Allocation"></td>
                        </tr>
                        </tbody>
                        </table>
                        <div class="in-line">
                            <button id="addRowButton" type="button">Add Row</button>
                            <button id="submitCustomSetup" type="submit">Submit</button>
                            <button id="showSuggestionsButton" type="button">Post Suggestions</button>
                        </div>
                        <div id="suggestionsContainer" style="display: none;">
                            <ul id="suggestionsList">
                        <!-- Suggestions will be populated here -->
                            </ul>
                        </div>
                </form>
            </div>
        </div>
        <div id="profileSettingsModal" class="modal">
            <div class="settings-content">
                <div>
                    <h2>Profile Settings<span class="close">&times;</span></h2>
                    <br>  
                </div>
              <!-- Cookie Preferences Section -->
              <div class="settings-container">
                <div class="settings-item">
                    <h3>Cookie Preferences:</h3>
                    <div id="checkboxProfileContainer">
                        <form id="profileSettingsForm" action="{{ url_for('salloc.update_consent') }}" method="post">
                            <div>
                                <input type="checkbox" id="consentCookies" name="consentCookies">
                                <label for="consentCookies">Activate Cookies</label>
                            </div>
                            <div>
                                <input type="checkbox" id="noCookies" name="noCookies">
                                <label for="noCookies">Deactivate Cookies</label>
                            </div>
                            </div>
                            <input type="hidden" id="consentUpdate" name="consentUpdate">
                            <input id="updateConsent" type="submit" value="Submit">
                        </form>
                </div>
              <!-- Delete Account Section -->
              <div class="settings-item">
                <h3>Account Deletion:</h3>
                <form id="deleteAccountForm" action="{{ url_for('salloc.delete_account') }}" method="post">
                  <button id="deleteConfirmation" type="button">Delete Account</button>
                </form>
              </div>
              </div>
            </div>
        </div>
        <div id="contactModal" class="modal">
            <div id="contactContainer" class="modal-content">
                <form id="contactForm" action="{{ url_for('salloc.contact_me') }}" method="post">
                    <h2>Contact Me/Give Feedback<span class="close">&times;</span></h2>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Your Name" required>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Your Email" required>
                    <label for="topic">Subject:</label>
                    <input type="text" id="topic" name="topic">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" placeholder="Your Message" rows="6" required></textarea>
                    <button type="submit">Send Message</button>
                </form>
            </div>
        </div>

        <div id="privacyModal" class="modal">
            <div id="privacyContainer" class="modal-content">
                <h2>Privacy Policy<span class="close">&times;<span></h2>
                    <p>Last updated: 12/8/2023</p>
                    <p>Salloc operates www.pettersa.com website and the web application Salloc (the "Service").</p>
                    <p>This page informs you of our policies regarding the collection, use, 
                        and disclosure of personal information when you use our Service.</p>
                    <h3>Information Collection and Use</h3>
                    <p>While using our Service, we may ask you to provide us with certain personally identifiable 
                        information that can be used to contact or identify you. 
                        Personally identifiable information may include, but is not limited to:</p>
                        <ul>
                            <li>Username</li>
                            <li>Password (hashed and secured)</li>
                            <li>Cookie preferences</li>
                            <li>Account data</li>
                            <li>History of transactions</li>
                        </ul>
                    <p>We use this information solely to provide and improve our Service. 
                        We do not share your personal information with third parties, 
                        nor do we use it for advertising or other commercial purposes.</p>
                    <h3>Log Data</h3>
                    <p>We may also in the future collect information that your browser sends whenever you visit our Service ("Log Data"). 
                        This Log Data may include information such as your computer's Internet Protocol ("IP") address, 
                        browser type, browser version, the pages of our Service that you visit, 
                        the time and date of your visit, the time spent on those pages, and other statistics.
                        This would solely be used for tracking user experiences/habits in order to improve our service.</p>
                    <h3>Cookies</h3>
                    <p>Cookies are files with a small amount of data, which may include an anonymous unique identifier. 
                        Cookies are sent to your browser from a web site and stored on your computer's hard drive.</p>
                    <p>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. 
                        However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>
                    <h3>Security</h3>
                    <p>The security of your Personal Information is important to us, but remember that no method of 
                        transmission over the Internet, or method of electronic storage, is 100% secure. 
                        While we strive to use commercially acceptable means to protect your Personal Information, 
                        we cannot guarantee its absolute security.</p>
                    <h3>Changes to This Privacy Policy</h3>
                    <p>We may update our Privacy Policy from time to time. 
                        We will notify you of any changes by posting the new Privacy Policy on this page.</p>
                    <p>You are advised to review this Privacy Policy periodically for any changes. 
                        Changes to this Privacy Policy are effective when they are posted on this page.</p>
                    <h3>Contact us</h3>
                    <p>If you have any questions about this Privacy Policy, please contact us.</p>
                    <p>petter.sand@gmail.com</p>
                    <p>Alternatively use the contact form and we will get back to you</p>
            </div>
        </div>
        <div id="setupGuideModal" class="modal">
            <div class="modal-content">
              <h2>Setup Guide<span class="close">&times;</span></h2>
              <h3>Setup Process:</h3>
              <ol>
                <li>Use the Setup/Controls container to set your total savings/balance amount.</li>
                <li>Add or generate posts using the "Add Posts" or "Generate Template" buttons.</li>
                <li>Click "Commit Changes" to finalize the setup.</li>
              </ol>
              <h3>Main Functions:</h3>
              <h4>Managing Deposits, Withdrawals, and Funds:</h4>
              <ul>
                <li>Deposits: Enter the same amount in the app as your real-life savings deposit.</li>
                <li>Withdrawals: Select the post for withdrawals made from savings.</li>
                <li>Manage Funds: Move funds between posts.</li>
                <li>Transfers: Reallocate and delete posts.</li>
              </ul>
              <h4>Overview Edit Table:</h4>
              <p>Edit the % allocation, post name, and goals by clicking on the editable fields.</p>
              <h4>Account Buttons:</h4>
              <ul>
                <li>Reallocate Funds: Reallocate unassigned funds.</li>
                <li>Reset Options: Reset the account, posts, or total saved per post.</li>
                <li>Profile Settings: Delete your account or change cookie preferences.</li>
              </ul>
            </div>
          </div>
        <div id="infoModal" class="info-modal">
            <div class="info-modal-content">
              <span class="info-modal-close">&times;</span>
              <p id="infoModalText"></p>
            </div>
        </div>
        <div id="remainingAllocationMessage"></div>
    <footer class="footer">
        <div class="foot-nav">
            <span>Salloc</span>
            <span>Copyright © Petter Sand Austnes</span>
            <span id="contactLink">Contact/Feedback</span>
            <span id="privacyLink">Privacy Policy</span>

        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('salloc.static', filename='js/script.js') }}"></script>
    {% if error %}
        <script>
            showError("{{ error }}");
        </script>
    {% endif %}
</body>
</html>