<div class="item">
    <form action="/undefined" method="post">
        <label for="undefined">Choose Post For Allocation:</label>
        <select id="post" name="post" required>
            <option value="" disabled selected>Select Post</option>
            {% for post in posts %}
            <option value="{{ post[0] }}">{{ post[0] }}</option>
            {% endfor %}
        </select>
        <input type="hidden" id="remainder" name="remainder" value="{{ remainder }}">
        <input type="submit" value="Allocate">
    </form>
</div>