<form id="editAll" action="/edit_all" method="post">
    <table>
        <tr>
            <th>Post</th>
            <th>Goal</th>
            <th>Allocation</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post[0] }}</td>
            <td class="flex">
                <span>{{ "{:,.0f} kr".format(post[3]) }}</span>
                <input type="number" name="new_goal_{{ post[0] }}" placeholder="Edit Goal">
            </td>
            <td>
                <span>{{ "{:0%}".format(post[1] / 100) }}</span>
                <input type="number" name="new_alloc_{{ post[0] }}" placeholder="Edit %">
            </td>
        </tr>
        {% endfor %}
    </table>
</form>

OG ACCOUNT OVERVIEW WITH INPUTS